.openDropDownProduct {
  display: block !important;
}

.buttonPressed {
  background: #ebeced;
  transition: 100ms;
}

.container-product {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 25px;
}

/* Buttons */

.container-product .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 35px 25px;
  margin-top: 25px;
  border-bottom: 1px solid #ebeced;
}

.container-product .buttons .delete-button, .container-product .buttons .signup-product {
  width: 140px;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 100ms;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    border: 1px solid #ebeced;
    text-decoration: none;
}

.container-product .buttons .delete-button svg, .container-product .buttons .signup-product svg {
  stroke: #4c5765;
}
.container-product .buttons .delete-button span, .container-product .buttons .signup-product span {
  font-family: 'Poppins', sans-serif;
  color: #4c5765;
  font-weight: 600;
  margin-top: 1px;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 105ms;
}

.container-product .buttons .delete-button:hover, .container-product .buttons .signup-product:hover {
  transform: translateY(-2px);
  background: #f3f4f7;
}

/* List Products */

.container-product .container-list-products {
  margin-top: 12px;
  width: 100%;
  margin: 20px auto 20px;
  padding: 0 40px;
  grid-gap: 30px;
  gap: 30px;
  grid-column-gap: 65px;
  column-gap: 65px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  margin-bottom: 50px;
}

/* Product style */

.container-product .container-list-products {
  max-width: 920px;
  width: 100%;
}

/* MODAL CSS */

.open-modal-edit {
  display: block !important;
}

.container-product .modal-edit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  .container-product .container-list-products {
    padding: 30px 15px 0 !important;
    grid-template-columns: repeat(1, 1fr);
  }
}