.openDropDownProduct {
  display: block !important;
}

.buttonPressed {
  background: #ebeced;
  transition: 100ms;
}

.container-product {
  display: block;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 25px;
}

.container-product .search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 860px;
  margin: 0 auto;
  margin-top: 30px;
  height: 35px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
  border: 1px solid #ebeced;
}

.container-product .search-container .form-area {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.container-product .search-container .form-area input {
  border: none;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

.container-product .search-container .button-area {
  max-width: 85px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ebeced;
}

.container-product .search-container .button-area button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 100ms;
}

.container-product .search-container .button-area button:hover {
  background: #f3f4f7;
}


/* Buttons */

.container-product .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 35px 25px;
  margin-top: 25px;
  border-bottom: 1px solid #ebeced;
}

.container-product .buttons .delete-button, .container-product .buttons .signup-product {
  width: 140px;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 100ms;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    border: 1px solid #ebeced;
    text-decoration: none;
}

.container-product .buttons .delete-button svg, .container-product .buttons .signup-product svg {
  stroke: #4c5765;
}
.container-product .buttons .delete-button span, .container-product .buttons .signup-product span {
  font-family: 'Poppins', sans-serif;
  color: #4c5765;
  font-weight: 600;
  margin-top: 1px;
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 105ms;
}

.container-product .buttons .delete-button:hover, .container-product .buttons .signup-product:hover {
  transform: translateY(-2px);
  background: #f3f4f7;
}

/* List Products */

.container-product .container-list-products {
  margin-top: 12px;
  width: 100%;
  margin: 20px auto 20px;
  padding: 0 40px;
  grid-gap: 30px;
  gap: 30px;
  grid-column-gap: 65px;
  column-gap: 65px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  margin-bottom: 50px;
}

/* Product style */

.container-product .container-list-products {
  max-width: 920px;
  width: 100%;
}

.container-product .container-list-products .product {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebeced;
}

.container-product .container-list-products .product .avatar-product-area {
  margin: auto 0;
  margin-left: -35px;
  background: #fff;
  width: 100px;
  border-radius: 50%;
}

.container-product .container-list-products .product .avatar-product-area img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #ebeced;
}

.container-product .container-list-products .product .product-infomation {
  display: grid;
  margin: auto;
  margin-left: 45px;
  margin-right: 10px;
  padding: 10px 2px;
  width: 100%;
  height: 100%;
}

.container-product .container-list-products .product .product-infomation .title-product-area {
  width: 100%;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-product .container-list-products .product .product-infomation .title-product-area h1 {
  width: 100%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2D2D2D;
}

.container-product .container-list-products .product .product-infomation .description-product-area {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #394458;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .price-weight {
  display: flex;
  justify-content: space-between;
  color: #394458;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .price-weight .product-price {
  margin-right: 8px;
  color: #394458;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .price-weight .product-price svg, .container-product .container-list-products .product .product-infomation .utilities-product-area .price-weight .product-weight svg {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .actions-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .actions-product .action-open-modal {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .actions-product .action-open-modal svg {
  margin: auto;
  stroke: #4c5765;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .actions-product .action-open-modal:hover {
  background: #ebeced;
}

.container-product .container-list-products .product .product-infomation .utilities-product-area .actions-product  .dropdown-menu-product {
  display: none;
  max-width: 140px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebeced;
  position: absolute;
  top: 92px;
  right: 45px;
  padding: 5px 0;
  user-select: none;
}

.container-product .container-list-products .product .dropdown-menu-product ul {
  margin-top: 5px;
  list-style: none;
}

.container-product .container-list-products .product .dropdown-menu-product ul li {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 5px;
  height: 35px;
  font-size: 16px;
  color: #394458;
  cursor: pointer;
}

.container-product .container-list-products .product .dropdown-menu-product ul li .delete-button svg, .container-product .container-list-products .product .dropdown-menu-product ul li .edit-button svg {
  stroke: #394458;
  position: relative;
  top: 2px;
  margin-right: 6px;
}

.container-product .container-list-products .product .dropdown-menu-product ul li:hover {
  background: #ebeced;
}