.container-signup-phasethree {
  max-width: 520px;
  width: 100%;
  margin: 30px auto 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ebeced;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
}

.container-signup-phasethree .form-phasethree {
  padding: 25px 20px;
}

.container-signup-phasethree .form-phasethree .error-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
}

.container-signup-phasethree .form-phasethree .error-area .error-signup {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 8px;
  color: #d33;
}