.request {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebeced;
}

.request .header-person-from-request {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fafafa;
  border-bottom: 1px solid #ebeced;
}

.request .header-person-from-request .request-person-information {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request .header-person-from-request .request-person-information img {
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(76, 87, 101, 0.34);
  margin-right: 10px;
}

.request .header-person-from-request .request-person-information h3 {
  font-size: 15px;
  color: #4c5765;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request .request-information {
  width: 100%;
  padding: 5px 10px;
}

.request .request-information .header-request, .container-requests .container-list-requests .request .request-information .status-request-list, .container-requests .container-list-requests .request .request-information .realized {
  display: flex;
  justify-content: left;
  align-items: center;
}

.request .request-information .header-request h3, .container-requests .container-list-requests .request .request-information .status-request-list h3 {
  font-size: 17px;
  color: #ec910a;
  margin-right: 5px;
}

.container-requests .container-list-requests .request .request-information .header-request span, .container-requests .container-list-requests .request .request-information .status-request-list span {
  font-size: 15px;
  color: #4c5765;
}

.request .request-information .realized svg {
  stroke: #ec910a;
  margin-right: 5px;
}

.request .request-information .realized span {
  font-size: 15px;
  color: #4c5765;
}

/* Button see details */

.request .button-area-see-details {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.request .button-area-see-details .button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border: 1px solid #ebeced;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  transition: 100ms;
  margin: 0 15px;
}

.request .button-area-see-details .button-area a {
  text-decoration: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ec910a;
  transition: 100ms;
  cursor: pointer;
}

.request .button-area-see-details .button-area:hover {
  opacity: 0.9;
}