.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 860px;
  margin: 0 auto;
  margin-top: 30px;
  height: 35px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
  border: 1px solid #ebeced;
}

.search-container .form-area {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.search-container .form-area input {
  border: none;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

.search-container .button-area {
  max-width: 85px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ebeced;
}

.search-container .button-area button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 100ms;
}

.search-container .button-area button:hover {
  background: #f3f4f7;
}
