.hide-button-load-more-evaluations {
  display: none !important;
}

.container-evaluation {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 25px;
  margin-top: 30px;
}

.container-evaluation .header-list-evaluation {
  max-width: 920px;
  width: 100%;
  margin: 10px auto;
}

.container-evaluation .header-list-evaluation .title-evalution {
  margin-left: 10px;
}

.container-evaluation .header-list-evaluation .status-company-evalution {
  padding: 5px 10px;
}


.container-evaluation .header-list-evaluation .status-company-evalution .title-status {
  margin-bottom: 15px;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution {
  margin-bottom: 15px;
  padding: 0 5px;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .bar-status-evaluation, .container-evaluation .header-list-evaluation .status-company-evalution .bar-status-evaluation .bar-status {
  height: 3px;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .bar-status-evaluation {
  width: 100%;
  background: #ebeced;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .bar-status-evaluation .bar-status {
  background: #7bbb5e;
  transition: width 0.2s;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .percent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ebeced;
  border-radius: 5px;
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  padding: 2px 5px;
  margin-bottom: 5px;
  transition: margin-left 0.2s;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .percent span {
  font-size: 14px;
  color: #4c5765;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .explanation {
  display: flex;
  padding: 5px 10px;
  margin-top: 5px;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .explanation .icon {
  font-size: 22px;
  color: #7bbb5e;
  margin-top: 1px;
  margin-right: 5px;
}

.container-evaluation .header-list-evaluation .status-company-evalution .status-bar-evalution .explanation .text-explanation {
  font-size: 16px;
  color: #4c5765;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-evaluation .header-list-evaluation h3 {
  text-align: left;
  color: #394458;
}

.container-evaluation .header-list-evaluation .little-box-transition {
  width: 25px;
  height: 3px;
  background: #7bbb5e;
  margin-top: 2px;
}

.container-evaluation .loading-api {
  max-width: 920px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.container-evaluation .container-list-evaluation {
  max-width: 920px;
  width: 100%;
}

.container-evaluation .container-list-evaluation {
  margin-top: 12px;
  margin: 20px auto 20px;
  padding: 0 40px;
  grid-gap: 30px;
  gap: 30px;
  grid-column-gap: 65px;
  column-gap: 65px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 50px;
}

.container-evaluation .button-load-more-to-pages {
  max-width: 920px;
  width: 100%;
  margin: 10px auto;
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .container-evaluation {
    padding: 0;
  }
}