.container-signup-phasetwo {
  max-width: 520px;
  width: 100%;
  margin: 30px auto 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ebeced;
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
}

.container-signup-phasetwo .signup-phasetwo {
  padding: 25px 20px;
}

.container-signup-phasetwo .signup-phasetwo .error-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
}

.container-signup-phasetwo .signup-phasetwo .error-area .error-signup {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 8px;
  color: #d33;
}

.container-signup-phasetwo .signup-phasetwo .city-states .city-input, .container-signup-phasetwo .signup-phasetwo .city-states .city-input input {
  margin-right: 20px;
}

.container-signup-phasetwo .signup-phasetwo .city-states .city-input {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 1px solid #d1d5da;
}

.container-signup-phasetwo .signup-phasetwo .city-states .city-input input {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0 15px;
  color: #394458;
}

.container-signup-phasetwo .signup-phasetwo .city-states .states {
  display: flex;
  justify-content: left;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 1px solid #d1d5da;
}

.container-signup-phasetwo .signup-phasetwo .city-states .states input {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  color: #394458;
}

.container-signup-phasetwo .signup-phasetwo .city-states {
  display: flex;
  justify-content: space-between;
  align-items: center;
}