.container-requests {
  display: block;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 25px;
}

.container-requests .container-list-requests {
  max-width: 920px;
  width: 100%;
}

.container-requests .container-list-requests {
  border-top: 1px solid #ebeced;
  width: 100%;
  margin: 20px auto 20px;
  margin-top: 25px;
  padding: 20px 40px 0;
  grid-gap: 30px;
  gap: 30px;
  grid-column-gap: 65px;
  column-gap: 65px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
  margin-bottom: 50px;
}

.container-requests .container-list-requests .request {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebeced;
}

.container-requests .container-list-requests .request .header-person-from-request {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fafafa;
  border-bottom: 1px solid #ebeced;
}

.container-requests .container-list-requests .request .header-person-from-request .request-person-information {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-requests .container-list-requests .request .header-person-from-request .request-person-information img {
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(76, 87, 101, 0.34);
  margin-right: 10px;
}

.container-requests .container-list-requests .request .header-person-from-request .request-person-information h3 {
  font-size: 15px;
  color: #4c5765;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-requests .container-list-requests .request .request-information {
  width: 100%;
  padding: 5px 10px;
}

.container-requests .container-list-requests .request .request-information .header-request, .container-requests .container-list-requests .request .request-information .status-request-list, .container-requests .container-list-requests .request .request-information .realized {
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-requests .container-list-requests .request .request-information .header-request h3, .container-requests .container-list-requests .request .request-information .status-request-list h3 {
  font-size: 17px;
  color: #ec910a;
  margin-right: 5px;
}

.container-requests .container-list-requests .request .request-information .header-request span, .container-requests .container-list-requests .request .request-information .status-request-list span {
  font-size: 15px;
  color: #4c5765;
}

.container-requests .container-list-requests .request .request-information .realized svg {
  stroke: #ec910a;
  margin-right: 5px;
}

.container-requests .container-list-requests .request .request-information .realized span {
  font-size: 15px;
  color: #4c5765;
}

/* Button see details */

.container-requests .container-list-requests .request .button-area-see-details {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.container-requests .container-list-requests .request .button-area-see-details .button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border: 1px solid #ebeced;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  transition: 100ms;
  margin: 0 15px;
}

.container-requests .container-list-requests .request .button-area-see-details .button-area a {
  text-decoration: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ec910a;
  transition: 100ms;
  cursor: pointer;
}

.container-requests .container-list-requests .request .button-area-see-details .button-area:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  .container-requests .container-list-requests {
    padding: 30px 15px 0 !important;
    grid-template-columns: repeat(1, 1fr);
  }
}